<a id="header-menu" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a> ||
<a id="header-menu" routerLink="/users" routerLinkActive="active">Users</a> ||
<a id="header-menu" routerLink="/grades" routerLinkActive="active">Grades</a> ||
<a id="header-menu" routerLink="/store" routerLinkActive="active">Store</a> ||
<a id="header-menu" routerLink="/login" routerLinkActive="active">Login</a> ||
<a id="header-menu" routerLink="/logout">Logout</a>
<br><br>
<router-outlet></router-outlet>